{
  "CN": "system:kube-proxy",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ csr.C }}",
      "L": "{{ csr.L }}",
      "O": "system:node-proxier",
      "OU": "{{ csr.OU }}",
      "ST": "{{ csr.ST }}"
    }
  ]
}
