[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ kube_homedir }}/bin/kube-proxy \
  --config={{ kube_homedir }}/config/kube-proxy-config.yaml \
  --v=2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
