{
  "CN": "system:node:{{ansible_default_ipv4.address}}",
  "hosts": [
    "{{ansible_default_ipv4.address}}",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ csr.C }}",
      "L": "{{ csr.L }}",
      "O": "system:nodes",
      "OU": "{{ csr.OU }}",
      "ST": "{{ csr.ST }}"
    }
  ]
}
