{
  "CN": "service-accounts",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{csr.C}}",
      "L": "{{csr.L}}",
      "O": "{{csr.O}}",
      "OU": "{{csr.OU}}",
      "ST": "{{csr.ST}}"
    }
  ]
}
