[Unit]
Description=kube-apiserver API Server
Documentation=https://github.com/kube-apiserver/kube-apiserver

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=0
LimitNPROC={{ kube_nproc }}
LimitNOFILE={{ kube_nofile }}

ExecStart={{ kube_homedir }}/bin/kube-apiserver \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --bind-address=0.0.0.0 \
  --allow-privileged=true \
  --anonymous-auth=true \
  --apiserver-count={{ kube_apiserver_count }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --client-ca-file={{ kube_homedir }}/certs/ca.pem \
  --enable-admission-plugins={{ kube_admission_plugins | join(',') }} \
  --enable-swagger-ui=true \
  --event-ttl=1h \
  \
  --experimental-encryption-provider-config={{ kube_homedir }}/config/encryption-config.yaml \
  --kubelet-certificate-authority={{ kube_homedir }}/certs/ca.pem \
  --kubelet-client-certificate={{ kube_homedir }}/certs/kube-apiserver.pem \
  --kubelet-client-key={{ kube_homedir }}/certs/kube-apiserver-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file={{ kube_homedir }}/certs/service-account.pem \
  --service-cluster-ip-range={{ kube_service_cluster_ip_range }} \
  --service-node-port-range={{ kube_service_node_port}} \
  --tls-cert-file={{ kube_homedir }}/certs/kube-apiserver.pem \
  --tls-private-key-file={{ kube_homedir }}/certs/kube-apiserver-key.pem \
  \
  --storage-backend={{ kube_storage_backend }} \
  --storage-media-type={{ kube_storage_media_type }} \
  --etcd-servers={{ etcd_endpoints }} \
  {% if etcd_tls_enabled %}
  --etcd-cafile={{ kube_homedir }}/certs/ca.pem \
  --etcd-certfile={{ kube_homedir }}/certs/kube-apiserver.pem \
  --etcd-keyfile={{ kube_homedir }}/certs/kube-apiserver-key.pem \
  {% endif %}
  --insecure-port=0 \
  --v=2

[Install]
WantedBy=multi-user.target
