[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Type=notify
Restart=on-failure
RestartSec=5
TimeoutStartSec=0
LimitNPROC={{ kube_nproc }}
LimitNOFILE={{ kube_nofile }}

ExecStart={{ kube_homedir }}/bin/kube-scheduler \
  --leader-elect=true \
  --kubeconfig="{{ kube_homedir }}/config/kube-scheduler.kubeconfig" \
  --v=2

[Install]
WantedBy=multi-user.target
