[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ kube_homedir }}/bin/kube-proxy \
  --cluster-cidr={{ kube_cluster_cidr }} \
  --masquerade-all=false \
  --kubeconfig={{ kube_homedir }}/config/kube-proxy.kubeconfig \
  --conntrack-min=1000000 \
  --proxy-mode={{ kube_proxy_mode }} \
  --v=2
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target
